/* Le mie magiche soluzioni, divise per numero.
   Perchè nulla va lasciato al caso, nella vita.*/


/* #1 
   Combino before con first-child, di modo da selezionare
solo il primo span con classe stat-number */

 section.stats-container :first-child span.stat-number::before {
    content:'\1F525';
    display: block;
    font-size: 0.8 em;
}

/* #2 Seleziono la card, cambio il background, poi fixo il txt-color
*/

section.stats-container div.stats-grid:nth-child(3) {
    background: linear-gradient(to right, #677AE5, #754EA6);
}

div.stats-grid:nth-child(3) > * {
    color:white;
}

/* #3 Vado a impostare un border right e bottom per castare ombra
    Sollevo la posizione con position relative e spostamento da bottom */

div.stats-grid:hover {
   box-shadow: 0 2px 3px 0 rgb(94, 92, 92);
    position:relative;
    bottom: 5px;
}

/* #4 seleziono il piano di allenamento notando che va contato
 anche il primo figlio (h2) del padre; add bg color e border
*/

section.workout-section :nth-child(3).workout-plan {
    background-color: rgb(250, 246, 168);
    border-left: 5px solid orange;
}

